<main>
  <canvas id="canvas2d"></canvas>

  <div class="loading" [ngClass]="loading ? 'visible' : 'naah'">
    <div class="tri invert"></div>
    <div class="tri invert"></div>
    <div class="tri"></div>
    <div class="tri invert"></div>
    <div class="tri invert"></div>
    <div class="tri"></div>
    <div class="tri invert"></div>
    <div class="tri"></div>
    <div class="tri invert"></div>
  </div>

  <div class="audio-wrap">
    <audio id="audio" #audio></audio>
  </div>
  <div class="engine-wrapper">
    <canvas #rendererCanvas id="renderCanvas"></canvas>
  </div>
</main>
